.button {
	display: inline-block;
	padding: em(18);
	background: $blue;
	color: $white;
	text-transform: uppercase;
    text-align: center;
	@include transition((color, background, border), 0.15s);

	&:hover {
		color: $blue;
		background: $white;
        cursor: pointer;
	}

	&.rounded {
		@include border-radius(em(5));
	}

    &.success {
        background: $green;

        &:hover {
            background: $green;
            cursor: default;
        }
    }

    &.disabled {
        background: darken($white, 60);

        &:hover {
            background: darken($white, 60);
            cursor: default;
        }
    }

    &.small {

        padding: em(10) em(20);
    }

	&.pop-out {
		border-bottom: em(7) solid darken($blue, 5);

		&:hover {
			border-color: darken($white, 10);
			border-bottom-width: em(5);
		}
	}

	&.pizazzed:hover {
		color: $white;
		background: $orange;
	}
}

form {
    margin: em(40) 0;
    display: block;
    @extend .clearfix;
}

input,
label,
select,
textarea,
.input-helper {
    display: block;
    width: 100%;
    line-height: 1.5em;
    padding: .25em 1em;
    border: darken($white, 20) em(1) solid;
    @include box-shadow(0, 0, .2em, darken($white, 15), inset);
}

label,
.input-helper {
    @include box-shadow(0, 0, 0, rgba(0,0,0,0));
    padding: .25em 0;
    border: none;
}

label {
    font-weight: bold;

    .req {
        color: $orange;
    }
}

input {
    width: 100%;
}

select {
    padding-left: .8em;
}

textarea {
    padding: .5em;
    margin-top: .5em;
    height: em(115);
}

.form-section {
    width: 50%;
    float: left;

    @include media($mobile) {
        width: 100%;
    }
}

.form-group {
    padding: em(5) em(15);
    @extend .clearfix;

    &.inline {
        label {
            width: 30%;
            float: left;
        }
        > input,
        > select,
        > div {
            width: 70%;
            float: left;
        }
    }

    &.for-textarea {
        padding-top: 0;
    }

    &.for-captcha {
        display: none;
        visibility: hidden;
    }

    .button {
        float: right;
        width: 30%;
        @include transition(all, 0.3s);
    }

    .flash {
        background: lighten($red, 50);
        color: $red;
        border: $red em(1) solid;
        float: left;
        width: 60%;
        font-weight: bold;
        padding: .25em 1em;
        line-height: 1.5em;
        opacity: 0;
        @include border-radius(em(5));
        @include transition(all, 0.3s);
    }
}

form {
    &.sending {
        .button {
            @extend .button.disabled;
        }
    }

    &.success {
        .button {
            @extend .button.success;
        }
    }

    &.error {
        .flash {
            opacity: 1;
        }
    }
}

#datepicker {
    position: relative;
    input {
        width: 45%;
        float: left;
    }
    .input-helper {
        display: block;
        float: left;
        width: 10%;
        text-align: center;
    }
}

#datepicker-container {
    position: relative;
    top: -1em;
    z-index: -1;
    opacity: 0;
    @include transition(all, 0.3s);
    margin-bottom: -2em;

    &.show {
        top: 0;
        z-index: 1;
        opacity: 1;
        margin-bottom: 0;
    }
}