.gallery {
    @extend .clearfix;

    figure {
        float: left;
        width: 25%;
        padding-right: 1em;

        @include media($mobile) {
            width: 33%;
        }
    }

    img {
        width: 100%;
        padding-bottom: 1em;
    }

    figcaption {
        display: none;
    }
}

.page .gallery {
    float: right;
    padding-left: 40px;
    width: 70%;

    @include media($mobile) {
        padding-left: 0;
        padding-bottom: 20px;
        width: 100%;
    }
}