* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

html, body {
  line-height: 1; 
  font-family: Arial, sans-serif;
  color: $font-color;
  background: $white;
  overflow-x: hidden;
}

ol, ul {
  list-style: none; 
}

table {
  border-collapse: collapse;
  border-spacing: 0; 
}

a {
  text-decoration: none;
}