
$base-font-size: 16;

// COLORS

$font-color: #3C3E49;
$white: #FFFFFF;
$black: #000000;
$blue: #053972;
$deep-blue: #053972;
$orange: #FFA113;
$red: #9c3e38;
$green: #5bcc53;


// Navigation
$top-bar-height: em(60);

// Breakpoints

$nav-break: 1130px;
$mobile: 960px;